version: 2

updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 12

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    cooldown:
      # See https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference#cooldown-
      default-days: 3
    schedule:
      interval: "cron"
      cronjob: "0 0 * * 1,4"
    open-pull-requests-limit: 12
    groups:
      nx-dependencies:
        patterns:
          - "@nx/*"
          - "nx"
      prettier-dependencies:
        patterns:
          - "*prettier*"
      radix-ui-dependencies:
        patterns:
          - "*@radix-ui/*"
      shiki-dependencies:
        patterns:
          - "@shikijs/*"
          - "shiki"
