# See http://help.github.com/ignore-files/ for more about ignoring files.

# Logs
logs
*.log
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
coverage

# Eslint
.eslintcache

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.tsbuildinfo

# System Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.nx/cache
.nx/workspace-data


gha-creds-*.json


# Vercel
.vercel

vite.config.*.timestamp*
vitest.config.*.timestamp*