# Ignore all files by default
*

# But don't ignore directories (so prettier can traverse)
!*/

# Format only markdown files
!**/*.md
!**/*.mdx
!**/*.yml
!**/*.yaml
!**/*.html

pnpm-lock.yaml
node_modules/
dist/
