:root {
  --background: oklch(100% 0 none);
  --foreground: oklch(14.1% 0.004 286);
  --card: oklch(100% 0 none);
  --card-foreground: oklch(14.1% 0.004 286);
  --popover: oklch(100% 0 none);
  --popover-foreground: oklch(14.1% 0.004 286);
  --primary: oklch(21% 0.006 286);
  --primary-foreground: oklch(98.5% 0 none);
  --secondary: oklch(96.8% 0.001 286);
  --secondary-foreground: oklch(21% 0.006 286);
  --muted: oklch(96.8% 0.001 286);
  --muted-foreground: oklch(55.2% 0.014 286);
  --accent: oklch(96.8% 0.001 286);
  --accent-foreground: oklch(21% 0.006 286);
  --destructive: oklch(63.7% 0.208 25.3);
  --destructive-foreground: oklch(98.5% 0 none);
  --border: oklch(96% 0.002 286);
  --input: oklch(92% 0.004 286);
  --ring: oklch(21% 0.006 286);
  --chart-1: oklch(67.7% 0.157 35.2);
  --chart-2: oklch(63.1% 0.101 183);
  --chart-3: oklch(37.9% 0.044 226);
  --chart-4: oklch(83.4% 0.119 88.1);
  --chart-5: oklch(78.3% 0.126 58.7);
  --radius: 0.75rem;
}

.dark {
  --background: oklch(14.1% 0.004 286);
  --foreground: oklch(98.5% 0 none);
  --card: oklch(14.1% 0.004 286);
  --card-foreground: oklch(98.5% 0 none);
  --popover: oklch(14.1% 0.004 286);
  --popover-foreground: oklch(98.5% 0 none);
  --primary: oklch(98.5% 0 none);
  --primary-foreground: oklch(21% 0.006 286);
  --secondary: oklch(27.4% 0.005 286);
  --secondary-foreground: oklch(98.5% 0 none);
  --muted: oklch(27.4% 0.005 286);
  --muted-foreground: oklch(71.2% 0.013 286);
  --accent: oklch(27.4% 0.005 286);
  --accent-foreground: oklch(98.5% 0 none);
  --destructive: oklch(39.6% 0.133 25.7);
  --destructive-foreground: oklch(98.5% 0 none);
  --border: oklch(27.4% 0.005 286);
  --input: oklch(27.4% 0.005 286);
  --ring: oklch(87.1% 0.005 286);
  --chart-1: oklch(52.9% 0.193 262);
  --chart-2: oklch(69.8% 0.134 165);
  --chart-3: oklch(72.3% 0.15 60.6);
  --chart-4: oklch(61.9% 0.204 313);
  --chart-5: oklch(61.2% 0.209 6.39);
}
