@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-UltraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Light.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Black.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-UltraBlack.woff2")
    format("woff2");
}
