@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-UltraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Light.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-Black.woff2") format("woff2");
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://cdn.zudoku.dev/geist/Geist-UltraBlack.woff2")
    format("woff2");
}

@layer base {
  :root {
    --top-header-height: 65px;
    --top-nav-height: 50px;
    --banner-height: 40px;
    --header-height: calc(
      var(--top-header-height) + var(--top-nav-height) + var(--banner-height) -
        /* borders */ 2px
    );
    --scroll-padding: calc(var(--header-height) + 10px);
    --side-nav-width: theme("spacing.72");
    --padding-content-top: theme("spacing.6");
    --padding-content-bottom: theme("spacing.12");
    --padding-nav-item: theme("spacing[2.5]");
    --sidecar-grid-cols: 1fr minmax(200px, 260px);
    --scrollbar-width: calc(100vw - 100%);
  }

  html {
    /* This is to prevent layout jumping when the scrollbar appears/disappears */
    @apply -mr-[--scrollbar-width] scroll-pt-[--scroll-padding];
  }

  html,
  body {
    @apply h-full overscroll-none;
  }

  details summary {
    @apply cursor-pointer;
  }

  #root {
    @apply min-h-screen w-full grid grid-rows-[auto_1fr];
  }

  * {
    @apply border-border;
  }

  body {
    @apply antialiased bg-background text-foreground overflow-y-auto overflow-x-clip;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  ::selection {
    @apply bg-primary/100 text-primary-foreground;
  }

  .bg-primary::selection,
  .bg-primary ::selection {
    background: theme(colors.background);
    color: theme(colors.foreground);
  }

  .dark {
    color-scheme: dark;
  }

  .prose.prose {
    @apply prose-a:underline-offset-4 hover:prose-a:text-primary;
    @apply prose-blockquote:not-italic prose-blockquote:text-neutral-500/75 prose-blockquote:dark:text-neutral-400;
    @apply prose-headings:prose-code:mx-2;
    @apply prose-code:before:content-none prose-code:after:content-none;

    ul.contains-task-list {
      @apply list-none px-0;
      li {
        @apply flex items-center gap-2;
      }
    }
  }

  select {
    @apply focus-visible:ring-primary focus-visible:ring-[1.5px] focus:outline-none;
  }

  .CollapsibleContent {
    --easing: cubic-bezier(0.4, 0, 0.2, 1);
    --slide-offset: -0.75rem;
  }
  .CollapsibleContent[data-state="open"] {
    animation: slideDown 300ms var(--easing);
  }
  .CollapsibleContent[data-state="closed"] {
    animation: slideUp 300ms var(--easing);
  }

  @keyframes slideDown {
    from {
      height: 0;
      opacity: 0;
      transform: translateY(var(--slide-offset));
    }
    to {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
      transform: translateY(0);
    }
    to {
      height: 0;
      opacity: 0;
      transform: translateY(var(--slide-offset));
    }
  }

  .scrollbar {
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .scrollbar:hover {
    scrollbar-color: var(--scrollbar-color, hsla(var(--border))) transparent;
  }

  .scrollbar::-webkit-scrollbar {
    padding: 2px;
    width: 12px;
    height: 12px;
    background: transparent;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsla(var(--border));
    border-radius: 12px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }

  .wavy-line {
    @apply bg-primary w-full;

    --s: 3px; /* size of the wave */
    --b: 2px; /* thickness of the line */
    --m: 1; /* curvature of the wave [0 2] */

    --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
    height: calc(2 * var(--R));
    --_g:
      #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
    mask:
      radial-gradient(
          var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
          var(--_g)
        )
        calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
        calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
      radial-gradient(
          var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
          var(--_g)
        )
        50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
        calc(var(--s) + var(--b)) repeat-x;
  }

  /* Theme */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 95%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .stepper > ol {
    --bullet-size: 1.75rem;
    --line-spacing: 0.25rem;
    @apply flex flex-col list-none p-0 m-0;
    counter-reset: step-counter;
  }

  .stepper > ol > li {
    @apply relative ps-12 pb-6 my-0;
    counter-increment: step-counter;
  }

  .stepper > ol > li:last-child {
    @apply pb-0;
  }

  /* Bullet with number */
  .stepper > ol > li::before {
    @apply absolute left-0 flex items-center justify-center size-[--bullet-size];
    @apply bg-muted/80 border border-border text-muted-foreground text-[calc(var(--bullet-size)/2)] font-semibold rounded-full;
    content: counter(step-counter);
  }

  /* Vertical line */
  .stepper > ol > li::after {
    @apply absolute content-[''] w-[2px] bg-border -translate-x-1/2 rtl:translate-x-1/2;
    inset-inline-start: calc(var(--bullet-size) / 2);
    top: calc(var(--bullet-size) + var(--line-spacing));
    height: calc(100% - var(--bullet-size) - (2 * var(--line-spacing)));
  }

  .stepper > ol > li > :first-child {
    @apply mt-0 pt-0;
    transform: translateY(calc((var(--bullet-size) - 1lh) / 2));
  }
}
