name: Branch Prerelease
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  prerelease:
    name: Prerelease
    runs-on:
      group: ubuntu-large-runners
    permissions:
      actions: read
      contents: write
      id-token: write
      pull-requests: read

    if: github.ref_name != 'main'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.GH_ACTIONS_DEPLOY_KEY_RULE_BYPASS }}

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - run: pnpm install nx --global

      - uses: nrwl/nx-set-shas@v4

      - run: git config --global user.email "integrations@zuplo.com"
      - run: git config --global user.name "Zuplo Integrations"

      - run: nx run-many -t root:lint:ci root:format:ci build:ci

      - name: Get Variables
        id: vars
        run: |
          echo "branch_safe=$(echo ${{ github.ref_name }} | sed 's/[^a-zA-Z0-9]/-/g')" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Copy readme
        run: cp README.md packages/zudoku

      - name: Version (Branch Prerelease)
        run: nx release version --specifier 0.0.0-${{ steps.vars.outputs.branch_safe }}.${{ steps.vars.outputs.sha_short }} --git-tag=false

      - name: Publish Modules
        run: pnpm publish --provenance --filter zudoku --filter create-zudoku --no-git-checks --tag dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
